*{
    box-sizing: border-box;
    margin: 0;
}
html{
    background-color: rgb(15, 24, 25);
}
a, h1, h2, h3, h4, h5, p{
    text-decoration: none;
    color:gray;
    font-family: Telegraf-font;
    font-size: 22px;
}
a:hover{
    padding-bottom: 3px;
    border-bottom: 3px solid gray;
}
@font-face {
    font-family: 'Abuse-font';
    src: url('../fonts/abuse.ttf');
}
@font-face {
    font-family: 'Telegraf-font';
    src: url('../fonts/telegraf.otf');
}
.container{
    width: 1810px;
    margin: 0 auto;
}
/* верхнее меню */
.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(15, 24, 25);
    padding-bottom: 10px;
    z-index: 1;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    background-color: rgb(15, 24, 25);
}
.header-logo{
    text-align: center;
    margin: 0;
}
.header-logo__title{
    margin: 0;
    font-family: Abuse-font;
    font-size: 40px;
    width: 200px;
    text-align: center;
    color: white;
}
.header-nav__nav-link{
    margin-right: 20px;
}
.header-social__link{
    font-size: 24px;
    margin-right: 30px;
}
/* верхнее меню */




/* Главная страница - ShadowPlay */
main{
    margin-top: 300px;
    margin-bottom: 400px;
}
.main-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-image{
    margin-right: 200px;
}
.main-title{
    font-size: 60px;
    font-weight: bolder;
}
.main-description{
    margin-left: 10px;
}
/* Главная страница - ShadowPlay */

/* Секция "О нас" */
.about-us{
    margin-top: 300px;
    margin-bottom: 100px;
}
.about-us-wrapper{
    display: flex;
    align-items: start;
    justify-content: center;
}
.about-us-title{
    font-size: 56px;
    margin-right: 300px;
}

/* Секция "О нас" */