*{
    box-sizing: border-box;
    margin: 0;
}
html{
    background-color: rgb(15, 24, 25);
}
a, h1, h2, h3, h4, h5, p{
    text-decoration: none;
    color:gray;
    font-family: Telegraf-font;
    font-size: 22px;
}
a:hover{
    padding-bottom: 3px;
    border-bottom: 3px solid gray;
}
@font-face {
    font-family: 'Abuse-font';
    src: url('../fonts/abuse.ttf');
}
@font-face {
    font-family: 'Telegraf-font';
    src: url('../fonts/telegraf.otf');
}
.container{
    width: 1810px;
    margin: 0 auto;
}
/* верхнее меню */
.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(15, 24, 25);
    padding-bottom: 10px;
    z-index: 1;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    background-color: rgb(15, 24, 25);
}
.header-logo{
    text-align: center;
    margin: 0;
}
.header-logo__title{
    margin: 0;
    font-family: Abuse-font;
    font-size: 40px;
    width: 200px;
    text-align: center;
    color: white;
}
.header-nav__nav-link{
    margin-right: 20px;
}
.header-social__link{
    font-size: 24px;
    margin-right: 30px;
}
/* верхнее меню */




/* Главная страница - ShadowPlay */
.main{
    margin-top: 300px;
    margin-bottom: 400px;
}
.main-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-image{
    margin-right: 200px;
}
.main-title{
    font-size: 60px;
    font-weight: bolder;
}
.main-description{
    margin-left: 10px;
}
/* Главная страница - ShadowPlay */

/* Секция "О нас" */
.about-us{
    padding-top: 100px;
    margin-bottom: 200px;
}
.about-us-wrapper{
    display: flex;
    align-items: start;
    justify-content: center;
}
.about-us-title{
    font-size: 56px;
    margin-right: 300px;
}
/* Секция "О нас" */

/* Tournamenmts */
.tournaments{
    margin-top: 300px;
    margin-bottom: 200px;
}
.tournaments-block{
    display: block;
    margin-top: 80px;
    padding-top: 40px;
    margin-right: 15px;
    margin-left: 15px;
    width: 550px;
    background-image: url('../img/tournaments/base-image/CoD_example.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tournaments-blocks{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.tournaments-block-base{
    display: block;
    margin-top: 20px;
    padding-top: 70px;
    background-image: url('../img/tournaments/base-image/CoD.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tournaments-block__info{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.tournament-block__info-image{
    margin-right: 40px;
    margin-left: 20px;
}
.tournament-block__info-text__time{
    border-radius: 15px;
    background: white;
    color: black;
    text-align: center;
    width: 100px;
    margin-bottom: 15px;
}
.tournament-block__info-text__prize{
    color: white;
}
.tournament-block__info-text__title{
    font-size: 40px;
    margin-bottom: 5px;
    color: white;
}
.tournaments-block__stats{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid grey;
    margin-right: 20px;
    margin-left: 20px;
}
.tournaments-block__stats-text{
    display: flex;
    align-items: center;
}
.tournaments-block__stats__start{
    padding-right: 50px;
    color: white;
}
.tournaments-amount{
    color: white;
}
.tournaments-title{
    font-size: 60px;
}
/* Tournaments */